.button {
  background-color: #2a0297; /* Green */
  border: none;
  color: white;
  padding: 13px 6px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 2px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: rgba(87, 53, 175, 0.61);
  color: rgb(255, 255, 255);
  border: 2px solid #3c26bbbe;
}

.button1:hover {
  background-color: #00000096;
  color: white;
}

.center {
  margin: 1rem;
}
