@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playball&display=swap");

.board {
  background-color: rgba(11, 2, 19, 0.719);
  /* background-attachment: scroll; */
  width: 100vw;
  height: 100vh;
  /* background-size: contain; */
  display: flex;
  text-align: center;

  /* flex-wrap: wrap; */
  /* position: relative; */
  z-index: -5;
}
.h1 {
  margin-left: 2rem;
  font-family: "Bebas Neue", cursive;
  text-align: center;
  letter-spacing: 0.7rem;
}
.span {
  font-family: "Playball", cursive;
  color: blanchedalmond;
}

.fade_out {
  /* transition-delay: 2s; */
  animation: fade_out 2s;
}
@keyframes fade_out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100vh;
  z-index: 10;
}
