@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");

.header {
  height: 10vh;
  position: fixed;
  padding-top: 2rem;
  /* margin-top: -8rem; */
  font-family: "Rye", cursive;
  font-style: normal;
  font-size: large;
  color: rgba(211, 194, 134, 0.836);
  text-shadow: 0.2rem 0.2rem #0000005e;
  z-index: 10;
}

.img {
  position: fixed;

  margin-top: -1rem;
  height: 7rem;
  width: 8rem;
  cursor: pointer;
}
.h1 {
  position: fixed;
  padding-left: 8rem;
  font-weight: 20;
  cursor: pointer;
}
